*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color:white;
    padding: 20px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left:65%;
    color:grey;
}
li:hover{
    color: aqua;
    cursor: pointer;
}
.logo{
    display:inline;
}
.cart{
 display: inline;
 margin-top: 72px;
 position:absolute;
 top: 20px;
 right: 10px;
}

input{
    margin-top:30px;
    padding: 10px;
    height:20px;
    width:50%;
}
.search{
 text-align: center;
}
.box{
    display: inline-block;
    padding:20px;
    border-width:1px;
    border-color:grey;
    border-style:solid;
    width: 200px;
    margin-right: 10px;
}
.p{
    text-align: center;
    background-color: beige;
}
.products{
 text-align: center;
 margin-top: 40px;

}
.box:hover{
    background-color: aqua;
    color:black;
}
.about{
    margin-top: 50px;
    padding:50px;
}
.end{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 50px;
}